alerting:
  github:
    token: ${GITHUB_TOKEN}
    repository: "USERNAME/REPO"
    issue:
      title: "[GATUS] {{ .Endpoint.Name }} down"
      description: |
        Endpoint: {{ .Endpoint.Name }}
        URL: {{ .Endpoint.URL }}
        Status: {{ .Result.StatusCode }}
        RT: {{ .Result.ResponseTime }}ms
      labels: ["gatus", "incident"]
      threshold: 3
      send-on-resolved: true

endpoints:
  - name: leantime
    url: "http://<ALB_DNS>/"
    interval: 30s
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 3000"
    alerts:
      - type: github

  - name: gatus
    url: "http://<ALB_DNS>:8080/"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 5000"
    alerts:
      - type: githubendpoints:
  - name: front-end
    group: core
    url: "https://twin.sh/health"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
      - "[BODY].status == UP"
      - "[RESPONSE_TIME] < 150"

  - name: back-end
    group: core
    url: "https://example.org/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 48h"

  - name: monitoring
    group: internal
    url: "https://example.org/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"

  - name: nas
    group: internal
    url: "https://example.org/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"

  - name: example-dns-query
    url: "8.8.8.8" # Address of the DNS server to use
    interval: 5m
    dns:
      query-name: "example.com"
      query-type: "A"
    conditions:
      - "[BODY] == pat(*.*.*.*)"  # Matches any IPv4 address
      - "[DNS_RCODE] == NOERROR"

  - name: icmp-ping
    url: "icmp://example.org"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: check-domain-expiration
    url: "https://example.org/"
    interval: 1h
    conditions:
      - "[DOMAIN_EXPIRATION] > 720h"

alerting:
  github:
    token: ${GITHUB_TOKEN}
    repository: "USERNAME/REPO"
    issue:
      title: "[GATUS] {{ .Endpoint.Name }} down"
      description: |
        Endpoint: {{ .Endpoint.Name }}
        URL: {{ .Endpoint.URL }}
        Status: {{ .Result.StatusCode }}
        RT: {{ .Result.ResponseTime }}ms
      labels: ["gatus", "incident"]
      threshold: 3
      send-on-resolved: true

endpoints:
  - name: leantime
    url: "http://<ALB_DNS>/"
    interval: 30s
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 3000"
    alerts:
      - type: github

  - name: gatus
    url: "http://<ALB_DNS>:8080/"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 5000"
    alerts:
      - type: github
